/* nav */

.nav {
   background-color: #fff;
   box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
   position: fixed;
   width: 100%;
   z-index: 3;
}

.nav ul {
   margin: 20px 0;
   padding: 0;
   list-style: none;
   overflow: hidden;
   background-color: #fff;
}

.nav li {
   padding: 5px 0;
   text-align: center;
}

.nav li a {
   display: inline;
   text-decoration: none;
}

.nav li:hover {
   /* background-color: #f4f4f4; */
   border-bottom: 4px royalblue solid;
}

.nav .logo {
   display: block;
   padding: 10px 20px 0 40px;
   text-decoration: none;
   position: absolute;
   left: 0;
   right: 0;
   margin: 0 auto;
   text-align: center;
   padding: 14px 0 0 0;
}
.nav .logo img{
    max-width: 104px;
}
.language-switch{
    float: right;
    color: #2f6dfe;
    padding: 21px 14px 0 0;
}



/* menu icon */

.nav .menu-icon {
   cursor: pointer;
   display: inline-block;
   float: left;
   padding: 27px 15px;
   position: relative;
   user-select: none;
   z-index: 1;
}

.nav .menu-icon .navicon {
   background: #2f6dfe;
   display: block;
   height: 6px;
   position: relative;
   transition: background .2s ease-out;
   width: 49px;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
   background: #2f6dfe;
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   transition: all .2s ease-out;
   width: 100%;
}

.nav .menu-icon .navicon:before {
   top: 14px;
}

.nav .menu-icon .navicon:after {
   top: -14px;
}

.nav .menu-btn:checked~.menu-icon .navicon{
    width: 18px;
    height: 2px;
}


/* menu btn */

.nav .menu-btn {
   display: none;
}

/* menu */

.nav .menu {
   clear: both;
   background: transparent;
   margin: -20px auto 0 auto;
}
.nav .menu li{
    margin: 10px 0;
}
.nav .menu li.brief{
    background: #FFFFFF;
    border-radius: 25px;
    padding: 4px 20px;
    margin-top: 30px;
}
.nav .menu li.brief a{
    color: #2f6dfe!important;
    text-transform: uppercase;
}
.logo-white{
    display: none;
}

.menu-ctn{
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
}
.nav .menu-btn:checked~.menu-ctn{
   max-height: 240px;
   background: #2f6dfe;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   max-height: none;
   margin: 0;
   opacity: 1;
   visibility: visible;
}
.nav .menu-btn:checked~.menu-ctn .switch-button-li{
    display: none;
}
.nav .menu-btn:checked~.menu-icon{
    background: #FFFFFF;
    border-radius: 50%;
    padding: 16px 8px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 86px 0 0 14px;
    z-index: 2;
}
.nav .menu-btn:checked~.menu-icon .navicon:before, .nav .menu-btn:checked~.menu-icon .navicon:after{
    background: #2f6dfe;
    height: 3px;
    width: 20px;
}
.nav .menu-btn:checked~.logo-white{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 81px;
}
.nav .menu-btn:checked~.logo-white img{
    max-width: 110px;
}
.nav .menu-btn:checked~.menu-ctn a{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}

.nav .menu-btn:checked~.menu-icon .navicon {
   background: transparent;
}

.nav .menu-btn:checked~.menu-icon .navicon:before {
   transform: rotate(-45deg);
}

.nav .menu-btn:checked~.menu-icon .navicon:after {
   transform: rotate(45deg);
}

.nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
   top: 0;
}

/* 48em = 768px */

@media (min-width: 65em) {
   .nav li {
      float: left;
   }

   .nav li a {
      display: inline;
      padding: 0 30px;
   }

   .nav li:hover {
      border-bottom: 4px royalblue solid;
   }

   .nav .menu {
      position: absolute;
      right: 0;
      max-height: none;
   }

   .nav .menu-icon {
      display: none;
   }

   .switch-button-li {
      border-bottom: 0px !important;
      transform: translateY(-5px);
   }
}


@media screen and (min-width: 1024px){
    .menu-ctn{
        opacity: 1;
        visibility: visible;
        max-height: none;
        display: block;
    }
    .menu-ctn ul.menu{
        margin: 20px 0;
    }
    .menu-ctn ul.menu li{
        margin: 0;
    }
    .nav .menu li.brief{
        padding: 5px 0;
        margin: 0;
        border-radius: 0;
    }
    .nav .menu li.brief a{
        color: #000000!important;
        text-transform: none;
    }



}
