/*    font-family: 'Cabin', sans-serif;   font-weight: 500;   font-weight: 700  ;*/

/*                       R E S E T                         */
* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


switch-button span {
    border-radius: 20px;
    padding: 7px 0;
    margin: -2px 0;
}

.switch__control {
    display: flex;
    padding: 2px 7px;
    border: 0;
    border-radius: 20px;
    background-color: rgb(255, 109, 109);
    color: white;
}

.switch__control .state {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: -8px;
    margin-right: -8px;
}

.switch__control[aria-checked="true"] .state--true,
.switch__control[aria-checked="mixed"] .state--mixed,
.switch__control[aria-checked="false"] .state--false {
    color: #fff;
    background-color: rgb(47, 109, 255);
}



/*                       N A W I G A C J A                         */


/* nav {
    position: relative;
    display: block;
    width: 85%;
    margin: 0 auto;
    padding: 0 20px 150px;
}

nav ul {
    position: absolute;
    display: inline-block;
    left: 220px;
    top: 50%;
    transform: translate(0, -50%);
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav div.onoffswitch {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
}

nav .main-logo {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}


nav ul li a:hover {
    border-bottom: 3px rgb(47, 109, 255) solid;
    padding: 0 0 5px 0;
    transition: 0.2s;
} */

/* @media only screen and (width: 320px) {
    nav {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    nav ul {
        display: block;
        width: 100%;
        left: 0;
        top: 330px;
        text-align: center;
        z-index: 1;
        background-color: #fff;
    }

    nav ul li {
        display: block;
        border-bottom: 1px rgb(235, 235, 235) solid;
        width: 100%;
        font-size: 18px;
        padding: 15px 0;
    }

    nav ul li a {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    nav div.onoffswitch {
        position: absolute;
        right: 0;
        display: inline-block;
    }

    nav .main-logo {}


    nav ul li a:hover {
        border-bottom: 3px rgb(47, 109, 255) solid;
        padding: 0 0 5px 0;
        transition: 0.2s;
    }
} */


/*                       H E A D E R                         */

header {
    position: relative;

}

header div.header-bg {
    height: 550px;
    width: 100%;
    background-image: url(../img/header-wallpaper.png);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: 1s ease-in-out;
}

#bluefilter {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: royalblue;
    transition-property: opacity;
    transition: 0.7s ease-in;
}

#bluefilter:hover {
    opacity: 0;
}

header h1.header-main-title {
    text-align: center;
    padding: 30px 0 40px;
    color: rgb(36, 31, 31);
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
}

header h2.header-main-subtitle {
    color: rgb(94, 94, 94);
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    margin: 0 140px 40px;
    ;
}

.header-btn-container {
    display: table;
    margin: 0 auto;
}

header h3.header-btn,
h3.header-btn-white {
    display: inline-block;
    text-align: center;
    width: 180px;
    height: 41px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: rgb(47, 109, 255);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 41px;
    transition: 0.5s;
    margin: 0 20px;
}


header h3.header-btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: rgb(7, 75, 235);
}

header h3.header-btn-white {
    background-color: transparent;
    border: 3px rgb(47, 109, 255) solid;
    box-sizing: content-box;
    color: rgb(47, 109, 255);
    border-radius: 55px;
    height: 35px;
    line-height: 35px;
}

header h3.header-btn-white:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    color: rgb(7, 75, 235);
    border-color: rgb(7, 75, 235);
}

header div.header-brief {
    position: relative;
    float: right;
    margin: 0 135px 0 0;
    color: rgb(47, 109, 255);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

header div.header-brief p {
    margin-right: 25px;
    display: inline-block;
}

header div.header-brief img {
    display: inline-block;
    transform: translate(0, 45%);
}


@media only screen and (max-width: 768px) {
    header h1.header-main-title {
        padding: 30px 5px 40px;
        font-size: 35px;
        line-height: 40px;
    }

    header h2.header-main-subtitle {
        margin: 0 10px 40px;
    }

    header h3.header-btn,
    h3.header-btn-white {
        display: block;
        margin: 10px auto;
    }

    header div.header-brief {
        position: relative;
        margin: 0 auto;
        color: rgb(47, 109, 255);
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }

    header div.header-brief img {
        transform: translate(-10%, 45%);
    }

}



section.features {
    display: block;
    margin: 180px 150px 0;
}

section.features h1 {
    text-align: center;
    padding: 0 0 20px 0;
    color: rgb(36, 31, 31);
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;
}

section.features .features-wrapper {
    padding: 10px 200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

section.features .feature {
    display: block;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 50%;
    flex: 0 0 50%;
}

section.features .feature img {
    float: left;
    padding: 0 16px 0 0;
}

section.features .feature h2,
section.features .feature h3 {
    margin-left: 80px;
}

section.features .feature h2 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
    color: rgb(36, 31, 31);
}

section.features .feature h3 {
    color: rgb(94, 94, 94);
    font-family: Cabin;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

@media only screen and (max-width: 768px) {
    section.features {
        margin: 180px 0;
    }

    section.features h1 {
        padding: 0 10px 20px 0;
        line-height: 35px;
    }

    section.features .features-wrapper {
        padding: 10px 0;
        margin: 0 auto;
    }

    section.features .feature {
        margin: 0 auto;
        max-width: 100%;
        flex: 0 0 100%;
    }

    section.features .feature img {
        width: 25%;
        height: auto;
        padding: 0 5px 0 0;
    }
}

section.ebook {
    margin: 70px 0 150px 0;
    min-height: 500px;
}


section.ebook div.ebook-main {
    position: relative;
    height: 520px;
    background-color: rgb(47, 109, 255);
}

section.ebook div.ebook-main:before,
section.ebook div.ebook-main:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 70px;
    /* Wysokość elementów z grafiką wykrzywienia */
    background-size: 100% 100%;
    z-index: 1;
}

section.ebook div.ebook-main::before {
    top: -68px;
    /* Odejmujemy wartość top aby nie było elementów w części kolorowego tła */
    background-image: url("../img/oval.svg");
    /* Górna grafika */
}

section.ebook div.ebook-main::after {
    bottom: -68px;
    /* Odejmujemy wartość bottom aby nie było elementów w części kolorowego tła */
    background-image: url("../img/oval.svg");
    transform: rotate(180deg);
    /* Dolna grafika */
}

section.ebook div.ebook-main h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgb(251, 251, 251);
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;

}

section.ebook div.ebook-main-left {
    position: relative;
    width: 35%;
    margin: 80px 0 0 30px;
    ;
    float: left;
}

section.ebook div.ebook-main-left img {
    display: block;
    position: absolute;
    margin: 0 auto;
    right: 0px;
}

section.ebook div.ebook-main-right {
    position: relative;
    width: 70%;
    margin-top: 80px;
    float: right;
}

section.ebook div.ebook-main-right div {
    display: block;
    margin: 0 200px 0 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

section.ebook div.ebook-main-right div p {
    margin-bottom: 30px;
}


section.ebook form input {
    display: inline-block;
    height: 40px;
    border-radius: 50px;
    padding: 0 0 0 25px;
    margin: 0 auto 15px;
    width: 49%;
    color: rgb(52, 44, 44);
    font-family: Cabin;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    background-color: rgb(226, 226, 226);
}

section.ebook form #ebook-submit-btn {
    height: 50px;
    width: 98%;
    padding: 0;
    border: 0;
    border-radius: 20px;
    background-color: rgb(255, 109, 109);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 5px;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    section.ebook {
        margin: 70px 0 150px 0;
        /* min-height: 830px; */
    }

    section.ebook div.ebook-main {
        height: 600px;
    }

    section.ebook div.ebook-main h1 {
        text-align: center;
        position: relative;
        color: rgb(251, 251, 251);
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
    }

    section.ebook div.ebook-main-left {
        text-align: center;
    }

    section.ebook div.ebook-main-left img {
        position: relative;
        margin: 0 auto;
        height: 180px;
        top: -65px;
        left: 55%;
        overflow: hidden;
    }

    section.ebook div.ebook-main-right {
        width: 100%;
    }

    section.ebook div.ebook-main-right div {
        margin: -150px 15px;
        word-break: break-all;
        width: 90%;
        display: block;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }

    section.ebook form {
        position: relative;
    }

    section.ebook form input {
        width: 100%;
    }

    section.ebook form #ebook-submit-btn {
        width: 100%;
    }
}


section.clients {
    padding-bottom: 10px;
}

section.clients h1.clients-title {
    color: rgb(36, 31, 31);
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    padding: 0 0 20px 0;
}

section.clients h2.clients-subtitle {
    color: rgb(94, 94, 94);
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 20px 0;
    margin: 0 320px;
}

section.clients .slider-container {
    position: relative;
    text-align: center;
}

section.clients img.test {
    width: 250px;
    margin: 0 20px;
}

section.clients .slider-container div button {
    width: 70px;
    height: 70px;
    border: 2px solid rgb(47, 109, 255);
    border-radius: 50px;
    background-color: transparent;
    margin: 20px 8px;
}

section.clients .slider-container div button#client-slider-left {
    color: rgb(47, 109, 255);

}

section.clients .slider-container div button#client-slider-right {
    color: white;
    background-color: rgb(47, 109, 255);
    ;
}

@media only screen and (max-width: 768px) {

    section.clients h2.clients-subtitle {
        margin: 0 20px;
        text-align: justify;
        text-justify: inter-word;
        ;
    }

    section.clients img.test {
        width: 120px;
        margin: 0 5px;
    }

    section.clients .slider-container div button {
        width: 50px;
        height: 50px;
        font-size: 10px;
    }
}


.red {
    color: rgb(255, 109, 109);
}

section.blog {
    padding: 70px 120px 155px;
    background-color: rgb(243, 243, 243);

}

section.blog h1 {
    padding: 0 0 60px;
    line-height: 50px;
    font-family: Cabin;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: rgb(36, 31, 31);
}

.blog-item-container {
    display: block;

    margin: 0 auto;
    max-width: 938px;
}


div.blog-item {
    display: inline-block;
    margin: 0 7px 79px;
    width: 296px;
}

.blog-thumbnail {
    padding-bottom: 23px;
}

.blog-title {
    padding-left: 8px;
    font-size: 24px;
    font-weight: 700;
}

.blog-shorttext {
    padding-left: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

.blog-bottom-bar {
    margin-top: 20px;
    width: 100%;
    height: 38px;
    border-radius: 11px;
    background-color: rgb(238, 238, 238);
}

.float-left {
    padding: 10px;
    float: left;
}

.float-right {
    padding: 10px;
    float: right;
}

.comment-icon {
    display: inline-block;
}

.blog-read-more {

    display: inline-block;
    padding-left: 10px;
    color: rgb(47, 109, 255);
    font-size: 16px;
    font-weight: 700;
    transform: translate(0, -5px);
}

a.blog-more-btn {
    display: block;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    background-color: rgb(47, 109, 255);
    color: rgb(255, 255, 255);
    font-family: Cabin;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    section.blog {
        padding: 20px 0;
        margin: 0 auto;
        display: inline-block;
        margin: 0 auto;
        background-color: rgb(243, 243, 243);
    }

    section.blog h1 {
        padding: 0 0 60px;
        font-size: 30px;
    }

    .blog-item-container {
        position: relative;
        margin: 0 auto;
        width: 85%;
    }


    div.blog-item {
        margin: 0 0 30px 0;
        width: 100%;
    }

    .blog-thumbnail {
        padding-bottom: 23px;
        width: 100%;
    }

    .blog-bottom-bar {
        margin-top: 20px;
        width: 100%;
        height: 38px;
        border-radius: 11px;
        background-color: rgb(255, 255, 255);
    }

    .comment-icon {
        display: inline-block;
    }

    .blog-read-more {
        display: inline-block;
        color: rgb(47, 109, 255);
        font-size: 16px;
        font-weight: 700;
    }

    a.blog-more-btn {
        width: 270px;
        margin-bottom: 80px;
    }
}



section.newsletter {
    margin: 0 0 150px 0;
    min-height: 390px;
}


section.newsletter div.newsletter-main {
    position: relative;
    height: 390px;
    background-color: rgb(47, 109, 255);
}

section.newsletter div.newsletter-main:before,
section.newsletter div.newsletter-main:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 70px;
    /* Wysokość elementów z grafiką wykrzywienia */
    background-size: 100% 100%;
    z-index: 1;
}

section.newsletter div.newsletter-main::before {
    top: -68px;
    /* Odejmujemy wartość top aby nie było elementów w części kolorowego tła */
    background-image: url("../img/oval.svg");
    /* Górna grafika */
}

section.newsletter div.newsletter-main::after {
    bottom: -68px;
    /* Odejmujemy wartość bottom aby nie było elementów w części kolorowego tła */
    background-image: url("../img/oval.svg");
    transform: rotate(180deg);
    /* Dolna grafika */
}

section.newsletter div.newsletter-main h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgb(251, 251, 251);
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;

}

section.newsletter div.newsletter-main-left {
    position: relative;
    width: 35%;
    margin: 40px 0 0 30px;
    float: left;
}

section.newsletter div.newsletter-main-left img {
    display: block;
    position: absolute;
    margin: 100px auto;
    left: 40%;
}

section.newsletter div.newsletter-main-right {
    position: relative;
    width: 70%;
    margin-top: 40px;
    float: right;
}

section.newsletter div.newsletter-main-right div {
    display: block;
    margin: 0 200px 0 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

section.newsletter div.newsletter-main-right div p {
    margin-bottom: 30px;
}


section.newsletter form input {
    display: inline-block;
    height: 40px;
    border-radius: 50px;
    padding: 0 0 0 25px;
    margin: 0 auto 15px;
    width: 49%;
    color: rgb(52, 44, 44);
    font-family: Cabin;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    background-color: rgb(226, 226, 226);
}

section.newsletter form #newsletter-submit-btn {
    height: 50px;
    width: 98%;
    padding: 0;
    border: 0;
    border-radius: 20px;
    background-color: rgb(255, 109, 109);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 5px;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    section.newsletter {
        margin: 0 0 10px 0;
        min-height: 820px;
    }


    section.newsletter div.newsletter-main {
        position: relative;
        height: 820px;
    }

    section.newsletter div.newsletter-main h1 {
        position: relative;
        text-align: center;
        font-size: 24px;
        line-height: 30px;
    }

    section.newsletter div.newsletter-main-left {
        position: relative;
        margin: 40px 0 0 30px;
    }

    section.newsletter div.newsletter-main-left img {
        margin: 10px auto;
        top: -36px;
        width: 150%;
    }

    section.newsletter div.newsletter-main-right {
        display: block;
        position: relative;
        width: 90%;
        margin: 120px 30px;


    }

    section.newsletter div.newsletter-main-right div {
        display: block;
        width: 100%;
        margin: 0 20px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }

    section.newsletter div.newsletter-main-right div p {
        margin-bottom: 30px;
    }


    section.newsletter form input {
        display: inline-block;
        width: 95%;
        height: 40px;
        border-radius: 50px;
        padding: 0 0 0 25px;
        margin: 0 auto 15px;
        color: rgb(52, 44, 44);
        font-family: Cabin;
        font-size: 16px;
        font-weight: 500;
        border: 0;
        background-color: rgb(226, 226, 226);
    }

    section.newsletter form #newsletter-submit-btn {
        height: 50px;
        width: 98%;
        padding: 0;
        border: 0;
        border-radius: 20px;
        background-color: rgb(255, 109, 109);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 700;
        line-height: 5px;
        text-transform: uppercase;
    }
}

section.contact {
    /* display: block; */
    margin: 0 auto;
    width: 40%;
}

section.contact h1,
section.contact h2 {
    text-align: center;
    padding: 8px 0;
}

section.contact h1 {
    padding: 0 0 40px 0;
    font-size: 30px;
}

section.contact h2.email,
section.contact h2.phone {
    font-size: 24px;
}

.contact-submit-btn {
    position: relative;
    display: block;
    width: 300px;
    height: 50px;
    margin: 20px auto 150px;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    border: 0;
    background-color: rgb(0, 127, 255);
    color: rgb(255, 255, 255);
    font-family: Cabin;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}

.contact-submit-btn img {
    position: absolute;
    margin: 5px 40px 0 0;
    left: 25px;
    height: 80%;
}

@media only screen and (max-width: 768px) {
    section.contact {
        width: 100%;
    }

    .contact-submit-btn {
        margin: 20px auto 80px;
    }
}

footer.home-footer {
    position: relative;
    height: 62px;
    margin-top: 50px;
    background-color: rgb(47, 109, 255);
    color: white;
    line-height: 62px;
    overflow: hidden;
}

footer.home-footer div {
    display: inline-block;
}

footer.home-footer div.contact {
    float: left;
    margin-left: 135px;
    font-size: 13px;
    font-weight: 400;
}

footer.home-footer div.copyright {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 16px;
    font-weight: 500;
}

footer.home-footer div.socials {
    position: absolute;
    top: 10px;
    right: 150px;
    /* padding: 15px 135px 0 0; */
}

footer div.socials img {

    width: 30px;
    height: auto;
}

footer .sep {
    padding-left: 7px;
}


@media only screen and (max-width: 768px) {
    footer {
        position: relative;
        height: 62px;
        margin-top: 50px;
        background-color: rgb(47, 109, 255);
        color: white;
        line-height: 62px;
        overflow: hidden;
    }

    footer div {
        display: inline-block;
        width: 100%;
    }

    footer div.contact {
        display: none;
        visibility: hidden;
    }

    footer div.copyright {
        text-align: center;
        font-size: 16x;
    }

    footer div.socials {
        display: none;
        visibility: hidden;
    }

    footer div.socials img {
        display: none;
        visibility: hidden;
    }
}


/*              E N D   H O M E       */





/*              S T A R T   O U R   R E A L I Z A T I O N S             */

section.our-realizations {
    padding-top: 100px;
}

section.our-realizations div.or-submenu ul {
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: rgb(47, 109, 255);
}

section.our-realizations div.or-submenu ul li {
    display: inline-block;
    padding: 25px;
}

section.our-realizations div.or-submenu ul li a {
    color: inherit;
    padding: 25px 0;
    width: 100%;
    height: 100%;
}

section.our-realizations div.or-submenu ul li:hover {
    background-color: rgb(236, 236, 236);
    color: rgb(47, 109, 255);
}

section.our-realizations div.or-submenu ul li.or-submenu-checked {
    background-color: rgb(236, 236, 236);
    color: rgb(47, 109, 255);
}

section.our-realizations div.or-container {
    margin: 40px 10% 0;
}

section.our-realizations h1.or-portfolio-text {
    margin-top: 40px;
    text-align: center;
    color: rgb(36, 31, 31);
    font-size: 48px;
}

section.our-realizations div.or-single {
    position: relative;
    margin: 0 auto 90px;
    max-width: 920px;
    min-height: 248px;
    background-color: rgb(242, 242, 242);
    border-radius: 56px;
}

section.our-realizations div.or-single img {
    object-fit: cover;
    border-radius: 56px;
    width: 572px;
    height: 248px;
}

section.our-realizations div.or-single p.or-description {
    width: 30%;
    margin-left: 590px;
    padding-top: 20px;
    top: 0;
}

section.our-realizations div.or-single a.or-readmore-btn {
    position: absolute;
    bottom: 20px;
    right: 30px;
    border-radius: 30px;
    background-color: rgb(47, 109, 255);
    padding: 15px 40px;
    color: white;
}

section.our-realizations div.or-container a.or-feedback-btn {
    display: block;
    width: 270px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16);
    background-color: rgb(47, 109, 255);
    padding: 15px 40px;
    margin: 60px auto 0;
    color: white;
}


@media only screen and (max-width: 1160px) {
    section.our-realizations div.or-submenu ul li {
        padding: 20px;
    }

    section.our-realizations div.or-submenu ul li a {
        padding: 20px 0;
    }

    section.our-realizations div.or-single img {
        object-fit: cover;
        border-radius: 56px;
        width: 475px;
        height: 248px;
    }

    section.our-realizations div.or-single p.or-description {
        width: 40%;
        margin-left: 490px;
    }
}

@media (min-width: 1040px) and (max-width: 1080px) {
    section.our-realizations div.or-single {
        position: relative;
        margin: 0 auto 60px;
        max-width: 920px;
        min-height: 248px;
        background-color: rgb(242, 242, 242);
        border-radius: 56px;
    }

    section.our-realizations div.or-single img {
        object-fit: cover;
        border-radius: 56px;
        width: 435px;
        height: 248px;
    }

    section.our-realizations div.or-single p.or-description {
        width: 40%;
        margin-left: 450px;
    }
}

@media only screen and (max-width: 1040px) {
    section.our-realizations div.or-single img {
        width: 400px;
    }

    section.our-realizations div.or-single p.or-description {
        width: 40%;
        margin-left: 420px;
    }
}

@media only screen and (max-width: 920px) {
    section.our-realizations div.or-single {
        position: relative;
        margin: 0 auto;
        max-width: 920px;
        min-height: 248px;
        background-color: rgb(242, 242, 242);
        border-radius: 56px;
    }

    section.our-realizations div.or-single img {
        object-fit: cover;
        border-radius: 56px;
        width: 100%;
        height: 290px;
    }

    section.our-realizations div.or-single p.or-description {
        width: 90%;
        margin: 20px;
        padding-bottom: 100px;
        padding-top: 310px;
    }
}

@media only screen and (max-width: 642px) {
    section.our-realizations div.or-single {
        position: relative;
        margin: 0 auto 45px;
        max-width: 920px;
        min-height: 248px;
        background-color: rgb(242, 242, 242);
        border-radius: 56px;
    }

    section.our-realizations div.or-single img {
        object-fit: cover;
        border-radius: 56px;
        width: 100%;
        height: 220px;
    }

    section.our-realizations div.or-single p.or-description {
        width: 90%;
        margin: 20px;
        padding-bottom: 100px;
        padding-top: 230px;
    }

    section.our-realizations div.or-single a.or-readmore-btn {
        position: absolute;
        bottom: 20px;
        left: 50%;
        min-width: 175px;
        width: 175px;
        transform: translateX(-50%);
        border-radius: 30px;
        background-color: rgb(47, 109, 255);
        padding: 15px 40px;
        color: white;
    }
}

@media only screen and (max-width: 375px) {
    section.our-realizations div.or-single {
        position: relative;
        margin: 0 auto 45px;
        max-width: 920px;
        min-height: 248px;
        background-color: rgb(242, 242, 242);
        border-radius: 56px;
    }

    section.our-realizations div.or-single img {
        object-fit: cover;
        border-radius: 56px;
        width: 100%;
        height: 170px;
    }

    section.our-realizations div.or-single p.or-description {
        width: 90%;
        margin: 20px;
        padding-bottom: 100px;
        padding-top: 180px;
    }


}



footer.or-footer {
    height: 62px;
    margin-top: 50px;
    background-color: rgb(47, 109, 255);
    color: white;
    line-height: 62px;
    overflow: hidden;
}

footer.or-footer div {
    display: inline-block;
}

footer.or-footer div.contact {
    float: left;
    margin-left: 135px;
    font-size: 13px;
    font-weight: 400;
}

footer.or-footer div.copyright {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 16px;
    font-weight: 500;
}

footer.or-footer div.socials {
    position: absolute;
    top: 10px;
    right: 150px;
    /* padding: 15px 135px 0 0; */
}

footer div.socials img {

    width: 30px;
    height: auto;
}

footer .sep {
    padding-left: 7px;
}


@media only screen and (max-width: 768px) {
    footer {
        position: relative;
        height: 62px;
        margin-top: 50px;
        background-color: rgb(47, 109, 255);
        color: white;
        line-height: 62px;
        overflow: hidden;
    }

    footer div {
        display: inline-block;
        width: 100%;
    }

    footer div.contact {
        display: none;
        visibility: hidden;
    }

    footer div.copyright {
        text-align: center;
        font-size: 16x;
    }

    footer div.socials {
        display: none;
        visibility: hidden;
    }

    footer div.socials img {
        display: none;
        visibility: hidden;
    }
}

/*              E N D   O U R   R E A L I Z A T I O N S             */



/*              S T A R T    R E V I E W S                */

section.reviews {
    padding-top: 100px;
}


section.reviews div.rev-container {
    margin: 40px 10% 0;
}

section.reviews h1.rev-text {
    margin: 40px auto 20px;
    text-align: center;
    color: rgb(36, 31, 31);
    font-size: 48px;
}

section.reviews p.rev-subtext {
    color: rgb(45, 39, 39);
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 50px;
}

section.reviews div.rev-single {
    position: relative;
    margin: 0 auto 60px;
    max-width: 920px;
    min-height: 378px;
    background-color: rgb(255, 255, 255);
    border-radius: 86px;
}

section.reviews div.rev-single img {
    object-fit: cover;
    border-radius: 86px;
    width: 460px;
    height: 378px;
}

section.reviews div.rev-single h2.rev-company-name {
    margin-left: 520px;
    padding-top: 10px;
    color: rgb(94, 94, 94);
}

section.reviews div.rev-single p.rev-description {
    width: 40%;
    margin-left: 520px;
    padding-top: 10px;
    color: rgb(94, 94, 94);
    line-height: 25px;
}

section.reviews div.rev-single div.rev-company-info {
    position: absolute;
    bottom: 15px;
    right: 35px;
    color: rgb(36, 31, 31);
    text-align: right;
    line-height: 25px;
}

@media only screen and (max-width: 1160px) {
    section.reviews div.rev-single h2.rev-company-name {
        margin-left: 500px;
    }

    section.reviews div.rev-single p.rev-description {
        margin-left: 500px;
    }
}

@media (min-width: 1040px) and (max-width: 1080px) {
    section.reviews div.rev-single img {
        object-fit: cover;
    }

    section.reviews div.rev-single h2.rev-company-name {
        margin-left: 500px;
    }

    section.reviews div.rev-single p.rev-description {
        width: 40%;
        margin-left: 500px;
    }
}

@media only screen and (max-width: 1040px) {
    section.reviews div.rev-single img {
        width: 400px;
    }

    section.reviews div.rev-single h2.rev-company-name {
        margin-left: 420px;
    }

    section.reviews div.rev-single p.rev-description {
        width: 40%;
        margin-left: 420px;
    }
}

@media only screen and (max-width: 920px) {
    section.reviews div.rev-single img {
        width: 100%;
        height: 290px;
        padding-bottom: 10px;
    }

    section.reviews div.rev-single h2.rev-company-name {
        margin: 0 0 0 20px;
    }

    section.reviews div.rev-single p.rev-description {
        width: 90%;
        margin: 20px;
        padding-bottom: 100px;
    }
}

/*              E N D   R E V I E W S             */


/*              S T A R T    R E A L I Z A T I O N               */

section.realization {
    padding: 140px 0;
}

section.realization h1.company-name {
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    color: rgb(36, 31, 31);
    font-size: 48px;
}

section.realization h2.company-subname {
    text-align: center;
    font-size: 20px;
    color: rgb(36, 31, 31);
    line-height: 50px;
}

section.realization h3.company-desc {
    margin: 30px 140px 10px;
    text-align: center;
    color: rgb(36, 31, 31);
    font-size: 16px;
    line-height: 25px;
}

section.realization>div {
    display: block;
    text-align: center;
}

section.realization div button {
    width: 70px;
    height: 70px;
    border: 2px solid rgb(47, 109, 255);
    border-radius: 50px;
    background-color: transparent;
    margin: 20px 8px;
}

section.realization div button#realization-slider-left,
section.realization div button#realization-slider-right {
    border: 1px solid rgb(112, 112, 112);
    background-color: rgb(242, 242, 242);
    color: rgb(47, 109, 255);
}

section.realization img {
    display: block;
    margin: 50px auto 20px;
    height: 100%;
    width: 80%;
}

@media only screen and (max-width: 768px) {
    section.realization h3.company-desc {
        margin: 30px 40px 10px;
        text-align: center;
        color: rgb(36, 31, 31);
        font-size: 16px;
        line-height: 25px;
    }

    section.realization img {
        display: block;
        margin: 50px auto 20px;
        height: 100%;
        width: 100%;
    }
}


/*              E N D     R E A L I Z A T I O N               */

/*              S T A R T     B R A N D I N G              */

section.branding {
    margin: 140px 140px 50px;
}

section.text-left {
    padding-bottom: 80px;
}

section.text-left h1 {
    color: #241f1f;
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
}

section.text-left p {
    width: 70%;
    float: left;
    color: #5e5e5e;
    font-size: 16px;
    line-height: 25px;
}

section.text-left img {
    width: 300px;
    height: auto;
    float: right;
    margin-top: 30px;
}


section.text-right {
    padding-bottom: 180px;
}


section.text-right h1 {
    text-align: right;
    color: #241f1f;
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
}

section.text-right p {
    width: 70%;
    float: right;
    text-align: right;
    color: #5e5e5e;
    font-size: 16px;
    line-height: 25px;
}

section.text-right img {
    width: 300px;
    height: auto;
    float: left;
    margin-top: 30px;
}

section.branding div.branding-icons-container {
    width: 100%;
    margin: 0 auto;
}

section.branding div.branding-icons-container div {
    display: inline-block;
    width: 24%;
    text-align: center;
}

section.branding div.branding-icons-container div img {
    width: 140px;
    height: auto;
}

section.branding div.branding-icons-container div p {
    color: #241f1f;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

section.branding div.realizations-link {
    margin: 50px 0;
    text-align: center;
}

section.branding div.realizations-link a {
    display: inline-block;
    width: 454px;
    height: 50px;
    border-radius: 25px;
    background-color: #2f6dff;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
}

section.branding div.why-us h1 {
    color: #241f1f;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 30px;
}

section.branding div.why-us p {
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

section.branding a.or-feedback-btn {
    display: block;
    width: 280px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16);
    background-color: rgb(47, 109, 255);
    padding: 15px 40px;
    margin: 60px auto 0;
    color: white;
    text-transform: uppercase;
}

@media only screen and (max-width: 1280px) {
    section.branding {
        margin: 140px 40px 50px;
    }

    section.text-left p,
    section.text-right p {
        width: 65%;
    }
}

@media only screen and (max-width: 960px) {

    section.text-left p,
    section.text-right p {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    section.branding {
        margin: 60px 40px 50px;
    }

    section.text-left p,
    section.text-right p {
        width: 100%;
    }

    section.text-left img,
    section.text-right img {
        width: 80%;
        height: auto;
        margin: 30px 10%;
    }
}

@media only screen and (max-width: 710px) {
    section.branding div.branding-icons-container div {
        width: 49%;
    }
}

@media only screen and (max-width: 520px) {
    section.branding div.realizations-link a {
        max-width: 400px;
    }
}

@media only screen and (max-width: 470px) {
    section.branding div.realizations-link a {
        max-width: 100%;
        font-size: 18px;
    }

    section.text-left h1,
    section.text-right h1 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 425px) {

    section.text-left p,
    section.text-right p {
        width: 100%;
        text-align: justify;
    }

    section.text-left h1,
    section.text-right h1 {
        font-size: 36px;
        text-align: center;
    }

    section.branding div.why-us h1 {
        font-size: 36px;
    }

    section.branding div.why-us p {
        text-align: justify;
    }
}

@media only screen and (max-width: 375px) {
    section.branding {
        margin: 60px 20px 50px;
    }

    section.branding div.realizations-link a {
        max-width: 100%;
        font-size: 16px;
    }

    section.branding div.branding-icons-container div img {
        width: 90px;
        height: auto;
    }

    section.branding div.branding-icons-container div p {
        line-height: 35px;
    }
}

@media (min-width:320px) and (max-width: 375px) {
    section.branding div.realizations-link a {
        max-width: 100%;
        font-size: 16px;
    }

    section.text-right {
        padding-bottom: 80px;
    }

    section.branding div.why-us h1 {
        color: #241f1f;
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        padding-bottom: 30px;
    }

    section.branding a.or-feedback-btn {
        width: 100%;
        padding: 15px 5px;
    }
}


/*              E N D     B R A N D I N G              */

/*             S T A R T     A B O U T - U S             */

section.about-us {
    margin: 0 140px;
    padding: 120px 0 0;
}

section.about-us h1.about-us-welcome {
    color: #241f1f;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    padding: 0 0 80px;
}

section.about-us h2.about {
    color: #241f1f;
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;
}

section.about-us>p {
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

section.crew {
    margin: 50px 0;
}

section.about-us section.crew div.crew-person {
    width: 100%;
    margin: 20px 0;
}

section.about-us section.crew img {
    width: 210px;
    height: 211px;
    border-radius: 26px;
}

section.about-us section.crew div.crew-person img {
    float: left;
    margin: 50px 25px auto 0;
}

section.about-us section.crew div.crew-person-right img {
    float: right;
    margin: 50px 0 auto 25px;
}

section.about-us section.crew div.crew-person-right h3.crew-name,
section.about-us section.crew div.crew-person-right p,
section.about-us section.crew div.crew-person-right h4.crew-jobtitle {
    text-align: right;
}

section.about-us section.crew h3.crew-name {
    color: #241f1f;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    text-transform: capitalize;
}

section.about-us section.crew h4.crew-jobtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    font-style: italic;
    padding-bottom: 10px;
}

section.about-us section.crew p {
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

section.about-us h2.how-we-work {
    color: #241f1f;
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;
}

section.about-us h2.how-we-work+p {
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

section.comp-logos {
    margin: 80px 0;
}

section.about-us section.comp-logos h2 {
    color: #241f1f;
    font-size: 32px;
    font-weight: 700;
    line-height: 60px;
}

section.about-us section.comp-logos img {
    display: inline-block;
    width: 218px;
    height: 104px;
    background-color: #e8e8e8;
    margin: 16px 8px;
    object-fit: cover;

}

section.about-us section.comp-logos div.comp-logos-container {
    display: block;
    text-align: center;
}

section.about-us h1.first-step {
    color: #241f1f;
    font-size: 48px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    margin: 10px 200px;
}

section.about-us h1.contact-us {
    color: #241f1f;
    font-size: 32px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    margin: 10px 200px 100px;
}


@media only screen and (max-width: 374px) {
    section.about-us {
        margin: 0 15px;
        padding: 120px 0 0;
    }

    section.about-us h1.about-us-welcome {
        font-size: 26px;
        padding: 0 0 60px;
    }

    section.about-us h2.about {
        color: #241f1f;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
    }

    section.about-us>p {
        text-align: justify;
    }

    section.crew {
        margin: 15px 0;
    }

    section.about-us section.crew div.crew-person {
        margin: 10px 0;
    }

    section.about-us section.crew img {
        width: 135px;
        height: auto;
    }

    section.about-us section.crew div.crew-person img {
        margin: 50px 13px 12px 0;
    }

    section.about-us section.crew div.crew-person-right img {
        margin: 50px 0 12px 13px;
    }

    section.about-us section.crew h3.crew-name {
        padding-top: 140px;
        font-size: 20px;
    }

    section.about-us section.crew h4.crew-jobtitle {
        padding-bottom: 15px;
    }

    section.about-us h2.how-we-work {
        margin-top: 15px;
        font-size: 20px;
    }

    section.comp-logos {
        margin: 40px 0;
    }

    section.about-us section.comp-logos h2 {
        font-size: 20px;
    }

    section.about-us section.comp-logos img {
        width: 132px;
        height: 74px;
        margin: 5px;
        object-fit: scale-down;
    }

    section.about-us h1.first-step {
        font-size: 20px;
        line-height: 23px;
        margin: 10px 0;
    }

    section.about-us h1.contact-us {
        font-size: 16px;
        line-height: 50px;
        margin: 10px 0 50px;
    }
}


@media (min-width: 375px) and (max-width: 768px) {
    section.about-us {
        margin: 0 15px;
        padding: 120px 0 0;
    }

    section.about-us h1.about-us-welcome {
        font-size: 26px;
        padding: 0 0 60px;
    }

    section.about-us h2.about {
        color: #241f1f;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
    }

    section.about-us>p {
        text-align: justify;
    }

    section.crew {
        margin: 15px 0;
    }

    section.about-us section.crew div.crew-person {
        margin: 10px 0;
    }

    section.about-us section.crew img {
        width: 135px;
        height: auto;
    }

    section.about-us section.crew div.crew-person img {
        margin: 50px 13px 12px 0;
    }

    section.about-us section.crew div.crew-person-right img {
        margin: 50px 0 12px 13px;
    }

    section.about-us section.crew h3.crew-name {
        padding-top: 140px;
        font-size: 20px;
    }

    section.about-us section.crew h4.crew-jobtitle {
        padding-bottom: 15px;
    }

    section.about-us h2.how-we-work {
        margin-top: 15px;
        font-size: 20px;
    }

    section.comp-logos {
        margin: 40px 0;
    }

    section.about-us section.comp-logos h2 {
        font-size: 20px;
    }

    section.about-us section.comp-logos img {
        width: 132px;
        height: 74px;
        margin: 5px;
        object-fit: scale-down;
    }

    section.about-us h1.first-step {
        font-size: 20px;
        line-height: 23px;
        margin: 10px 0;
    }

    section.about-us h1.contact-us {
        font-size: 16px;
        line-height: 50px;
        margin: 10px 0 50px;
    }
}